<div>
    <div class="d-flex justify-content-end align-items-center mb-3">

        <button class="btn btn-primary" onclick="window.location.href='/menu/users/add';">
            <i class="bi bi-plus-lg"></i>
            Novo Usuário
        </button>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-hover align-middle">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Nome</th>
                    <th>Função</th>
                    <th class="text-end">Ações</th>
                </tr>
            </thead>

            <tbody id="usersTableBody">
            </tbody>
        </table>
    </div>
</div>